body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #282c34;
    color: #333;

    text-align: center;
    overflow: hidden; /* Prevent scrollbars from appearing */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    position: relative;
    z-index: 3;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #282c34;
    background-size: cover;
    z-index: 0;
}

.controls {
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 10px;
    color: #ffffff;
}

select {
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.input-area {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.phrase-input {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 350px;
}

.phrase {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 2;
}

button:hover {
    background-color: #45a049;
    color: white;
}

#generateButton {
    background-color: #4CAF50;
    color: white;
}

#generateInitialValuesButton {
    background-color: #FF9800;
    color: white;
}

#downloadButton {
    background-color: #2196F3;
    color: white;
    margin-top: 20px;
    display: none;
}

.canvas {
    width: 100%;
    height: 100%;
}
#bingoCanvas {
    margin-top: 20px;
    border: 2px solid #333;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 300;
}
@media (max-width: 768px) {
    .phrase-input {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    button {
        width: 100%;
    }
}
